# dependencies
node_modules/

# dotenv environment
.env

# logs
logs
*.log

# OS/macOS files
.DS_Store

# build output
dist/
build/

# yarn
yarn.lock

# npm
package-lock.json

# Ignore all node_modules folders (even in subdirectories)
**/node_modules/

# Ignore all .cache folders (e.g., client/node_modules/.cache/)
**/.cache/